.login {
    width: 85%;
    margin: 0 auto;

    .logo {
        text-align: center;
        margin-top: 50px;
        color: $black-1;

        a {
            color: white;
        }

        font-size: 1.7rem;
        cursor: pointer;

        span {
            color: $orange;
            font-weight: bold;
        }
    }

    form {
        width: 25%;
        margin: 50px auto 0;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: 40px 20px;


    }

    p {
        text-align: center;
        margin-top: 10px;
        font-size: 1rem;
    }
}