.card {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    display: grid;
    position: relative;
    height: 300px;

    &:hover .btn-container {
        visibility: visible;
        opacity: 1;
    }

    .edit-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        min-width: 100%;
        background: rgba(0, 0, 0, 0.097);
        display: flex;
        align-items: center;
        justify-content: center;
        // z-index: 10;

        .add-book {
            z-index: 10;
        }
    }





    img {
        border-radius: 7px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            transform: scale(1.02);
            box-shadow: 0 4px 40px rgba(32, 129, 227, 0.35);
        }





    }

    .btn-container {
        position: absolute;
        bottom: 0;
        right: 25%;
        visibility: hidden;
        opacity: 0;
        transition: 0.7s;

        .btn {
            cursor: pointer;
            color: white;
            font-size: 25px;
            font-weight: bold;
            background: rgba(0, 0, 0, 0.505);
            border-radius: 50%;
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;

            &:hover {
                transform: scale(1.2);
            }


        }
    }

    .infos {
        // display: flex;
        // justify-content: center;
        width: 98%;
        margin: 20px auto 0;
        display: grid;
        grid-template-columns: 70% 30%;

        .edit-btn-container {
            cursor: pointer;
            transition: 0.7s;
            transform: translate(10px, 8px);
            color: grey;

            div {
                transition: 0.2s;

                &:hover {
                    transform: scale(1.15);
                    color: black;
                }
            }



        }

        h3 {
            font-weight: bold;
            // margin: 20px 0;\
            font-size: 0.8rem;
            color: $brown;
            margin-top: 10px;
            width: 90%;



        }

        span {
            color: rgba(0, 0, 0, 0.363);
            font-size: 0.8rem;
            font-weight: bold;
        }



        p {

            span {
                font-size: 0.8rem;
                margin-right: 10px;
                color: gray;
            }
        }


    }

}